<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>About Us</title>
</head>
<body>
     {{!-- navbar --}}
    <div class="container-fluid main_menu">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
         <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">City Weather</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/index">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/About">About</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="/weather">Weather</a>
            </li>
          </ul>
         
        </div>
      </nav>
    </div>
</div>
</div>


    {{!-- about detail --}}
   <div class="container-fluid about_data ">
        <div class="row">
          <div class="col-md-8 col-12 mx-auto">  
            <div class="row">
                <div class="col-md-8 col-12 mx-auto">
                   <h3>the city weather app is developed by the chirag rathod in the guidance of <span class="txt_color"> avni mam.</span></h3>
                   <p>this app is very useful for to know the temprature of your city.</p>
                   <h4>If any query You can contact us on, </h4>
                   <h4>Phone No: +91 6356171512</h4>
                     <h4>Email-id :<span class="txt_color"> rathodchirag2907@gmail.com</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>

    {{!-- footer --}}
<footer>
    <p>created By chirag Rathod 😎</p>
</footer>

</body>
</html>